<div class="login-container">
  <div class="login-box">
    <!-- <h2>Login</h2> -->

    <!-- Normal email/password fields -->
    <!-- <input type="text" placeholder="Email" class="input-box">
    <input type="password" placeholder="Password" class="input-box">

    <button class="btn-primary">Login</button>

    <div class="divider">
      <span>OR</span>
    </div> -->

    <img src="/login_image_1.jpg" class="logo">

    <!-- Google login button -->
    <div id="googleBtn" class="google-btn-wrapper"></div>
  </div>
</div>
